@page "{handler?}"
@model CategoryManagement

@{
    ViewData["title"] = "Categories";
    ViewData["styles"] = "categories";
}

@if (Model.Error != null)
{
    <div class="error">@Model.Error</div>
}

<h1>New category</h1>
<form class="form" method="post" asp-page-handler="AddCategory" class="categoryManagement__form">
    <label for="addCategoryName">Name for new category</label>
    <input type="text" id="addCategoryName" asp-for="@Model.CategoryDto.Name"/>

    <input class="button button--teal" type="submit" value="Add"/>
</form>

<h1>Existing categories</h1>
<div class="categories">
    <table class="table">
        <thead>
        <tr>
            <th class="table--center">ID</th>
            <th class="table--large_column">Name</th>
            <th class="table--center table--small_column">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td class="table--center">@category.Id</td>
                <td class="table--large_column">@category.Name</td>
                <td class="table--center table--small_column">
                    <a class="button" asp-page="/Admin/CategoryPage" asp-route-id="@category.Id">Show details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>