@page "{handler?}"
@model CategoryManagement


@if (Model.Error != null)
{
    <div class="error">@Model.Error</div>
}

<h1>Categories</h1>
<div class="categories">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a asp-page="/Admin/CategoryPage" asp-route-id="@category.Id">Show details</a>
                </td>
            </tr>
        }
    </table>
</div>

<form method="post" asp-page-handler="AddCategory" class="categoryManagement__form">
    <label for="addCategoryName">Name for new category</label>
    <input type="text" id="addCategoryName" asp-for="CategoryName"/>

    <input type="submit" value="Add"/>
</form>

<form method="post" asp-page-handler="RenameCategory" class="categoryManagement__form">
    <label for="renameCategory">Rename category</label>
    <select id="renameCategory" asp-for="CategoryId">
        @foreach (var category in Model.Categories)
        {
            <option value="@category.Id">@category.Id. @category.Name</option>
        }
    </select>
    <input type="text" asp-for="CategoryName"/>

    <input type="submit" value="Rename"/>
</form>