@page "{optionId}"
@model CraftHouse.Web.Pages.Admin.OptionValuesManagement

@{
    ViewData["title"] = "Manage option values";
    ViewData["styles"] = "manageOptions";
}

<a class="return" asp-page="/admin/OptionsManagement" asp-route-productId="@Model.Option.ProductId" asp-route-optionNumber="1">
    <img class="return__arrow" src="~/photos/arrow-left-solid.svg" alt="arrow"/>
    <p class="return__text">Return</p>
</a>

<h1>Values for option @Model.Option.Name</h1>

@if (Model.Errors != null)
{
    @foreach (var error in @Model.Errors)
    {
    <div class="error">@error</div>
    }
}

<form class="form" method="post" asp-page-handler="OptionName">
    <label>Name</label>
    <input type="text" value="@Model.Option.Name" asp-for="OptionName"/>
    <input class="button button--teal" type="submit" value="Change"/>
</form>

<br/>

<form class="form"  method="post" asp-page-handler="NewValue">
    <input type="hidden" value="@Model.Option.ProductId"/>
    <label>Value</label>
    <input type="text" asp-for="@Model.OptionValueDto.Value"/>
    <label>Price</label>
    <input type="number" step="0.01" min="0" asp-for="@Model.OptionValueDto.Price"/>
    <input class="button button--teal" type="submit" value="Add"/>
</form>

<table class="table">
    <thead>
    <th class="table--center">Option ID</th>
    <th>Value</th>
    <th>Price</th>
    <th>New value</th>
    <th>New price</th>
    <th>Update</th>
    <th>Remove</th>
    </thead>
    <tbody>
    @foreach (var optionValue in @Model.OptionValues)
    {
        <tr>
            <td class="table--center">@optionValue.OptionId</td>
            <td>@optionValue.Value</td>
            <td>@optionValue.Price</td>
            <form method="post" asp-page-handler="UpdateValue">
                <input type="hidden" value="@optionValue.OptionId" asp-for="OptionId"/>
                <input type="hidden" value="@optionValue.Value" asp-for="OldOptionValue"/>
                <td>
                    <input type="text" value="@optionValue.Value" asp-for="OptionValue"/>
                </td>
                <td>
                    <input type="number" step="0.01" min="0" value="@optionValue.Price.ToString().Replace(",", ".")" asp-for="OptionPrice"/>
                </td>
                <td>
                    <input class="button" type="submit" value="Update"/>
                </td>
            </form>

            <td>
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" value="@optionValue.OptionId" asp-for="OptionId"/>
                    <input type="hidden" value="@optionValue.Value" asp-for="OptionValue"/>
                    <input class="button button--red" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>