@page "{optionId}"
@model CraftHouse.Web.Pages.Admin.OptionValuesManagement

<br/><br/>

<form method="post" asp-page-handler="OptionName">
    <label>Name</label>
    <input type="text" value="@Model.OptionName" asp-for="OptionName"/>
    <input type="submit" value="Change"/>
</form>

<br/>

<form method="post" asp-page-handler="NewValue">
    <label>Value</label>
    <input type="text" asp-for="OptionValue"/>
    <label>Price</label>
    <input type="number" step="0.01" min="0" asp-for="OptionPrice"/>
    <input type="submit" value="Add"/>
</form>

<br/>

<table>
    <th>Option value for</th>
    <th>Value</th>
    <th>Price</th>
    <th>New value</th>
    <th>New price</th>
    <th>Update</th>
    <th>Remove</th>
    @foreach (var optionValue in @Model.OptionValues)
    {
        <tr>
            <td>@optionValue.OptionId</td>
            <td>@optionValue.Value</td>
            <td>@optionValue.Price</td>
            <form method="post" asp-page-handler="UpdateValue">
                <input type="hidden" value="@optionValue.OptionId" asp-for="OptionId"/>
                <input type="hidden" value="@optionValue.Value" asp-for="OldOptionValue"/>
                <td>
                    <input type="text" value="@optionValue.Value" asp-for="OptionValue"/>
                </td>
                <td>
                    <input type="number" step="0.01" min="0" value="@optionValue.Price.ToString().Replace(",", ".")" asp-for="OptionPrice"/>
                </td>
                <td>
                    <input type="submit" value="Update"/>
                </td>
            </form>
            <td>
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" value="@optionValue.OptionId" asp-for="OptionId"/>
                    <input type="hidden" value="@optionValue.Value" asp-for="OptionValue"/>
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    }
</table>