@page "{orderId}"
@using CraftHouse.Web.Entities
@model CraftHouse.Web.Pages.Admin.OrderManagement

@{
    ViewData["title"] = "Manage order";
    ViewData["styles"] = "orders";
}

<a class="return" asp-page="/admin/orders">
    <img class="return__arrow" src="~/photos/arrow-left-solid.svg" alt="arrow"/>
    <p class="return__text">Return</p>
</a>

<form method="post" class="form">
    <input type="hidden" asp-for="OrderId" value="@Model.OrderId"/>
    <div>
        @foreach (var option in Enum.GetNames<OrderStatus>())
        {
            <input id="@option" type="radio" asp-for="OrderStatus" value="@option" checked="@(Model.OrderData.OrderStatus == Enum.Parse<OrderStatus>(option))"/>
            <label for="@option">@option</label>
        }
    </div>
    
    <input class="button button--teal" type="submit" value="Update"/>
</form>