@page
@model ProductManagement

@if (Model.Errors != null)
{
    @foreach (var error in @Model.Errors)
    {
    <div class="error">@error</div>
    }
}

<div>PRODUCT ADD</div>
<form method="post" asp-page-handler="Product">
    <label for="name">Name</label>
    <input type="text" id="name" asp-for="@Model.ProductDto.Name"/>

    <label for="isAvailable">Is available</label>
    <select id="isAvailable" asp-for="@Model.ProductDto.IsAvailable">
        <option value="true">available</option>
        <option value="false">unavailable</option>
    </select>

    <label for="price">Price</label>
    <input type="number" step="0.01" id="price" asp-for="@Model.ProductDto.Price"/>

    <label for="description">Description</label>
    <input type="text" id="description" asp-for="@Model.ProductDto.Description"/>

    <label for="categoryId">Category name</label>
    <select id="categoryId" asp-for="@Model.ProductDto.CategoryId">
        @foreach (var category in Model.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>

    <input type="submit" value="Add"/>
</form>

<br/><br/>

<table>
    <th>Name</th>
    <th>Available</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>Actions</th>
    @foreach (var product in @Model.Products)
    {
        <tr>
            <td>@product.Id. @product.Name</td>
            <td>@product.IsAvailable</td>
            <td>@product.Price</td>
            <td>@product.Description</td>
            <td>@product.Category.Id. @product.Category.Name</td>
            <td>
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" value="@product.Id" asp-for="ProductId"/>
                    <input type="submit" value="Delete"/>
                </form>
                <a asp-page="/admin/ProductPage" asp-route-productId="@product.Id">Edit product</a>
                <br/>
                <a asp-page="/admin/OptionsManagement" asp-route-productId="@product.Id" asp-route-optionNumber="1">Manage options</a>
            </td>
        </tr>
    }
</table>
