@page "{userId}"
@using CraftHouse.Web.Entities;
@model CraftHouse.Web.Pages.Admin.User

@{
    ViewData["title"] = "User";
    ViewData["styles"] = "form";
}

<a class="return" asp-page="/admin/Users">
    <img class="return__arrow" src="~/photos/arrow-left-solid.svg" alt="arrow"/>
    <p class="return__text">Return</p>
</a>

<form class="form" method="post">
    <div>
        @foreach (var option in Enum.GetNames<UserType>())
        {
            <input id="@option" type="radio" asp-for="UserType"
                   value="@option" checked="@(Model.UserData.UserType == Enum.Parse<UserType>(option))"/>
            <label for="@option">@option</label>
        }
    </div>
    <input type="hidden" asp-for="UserId" value="@Model.UserId"/>

    <input class="button button--teal" type="submit" value="Update"/>
</form>