@page "{pageNumber:int=1}"
@using CraftHouse.Web.Entities
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<aside>
    <form method="post" asp-page-handler="Category">
        <input type="hidden" value="0" asp-for="CategoryId"/>
        <input type="submit" value="All"/>
    </form>
    @foreach (var category in @Model.Categories)
    {
        <form method="post" asp-page-handler="Category">
            <input type="hidden" value="@category.Id" asp-for="CategoryId"/>
            <input type="submit" value="@category.Name"/>
        </form>
    }
</aside>

<div class="products">
    @foreach (var prod in Model.Products)
    {
        <div class="products__product">
            <img class="product__photo" src="~/photos/pexels-irina-varanovich-14686152.jpg" alt="Product image"/>
            <p class="product__name">@prod.Name</p>
            <p>@prod.Description</p>
            <p>@prod.Price</p>
            <a asp-page="/Cart/Add" asp-route-productId="@prod.Id">Add to cart</a>
        </div>
    }
</div>
<div class="products__pagination">
    @if (Model.PageNumber != 1)
    {
        if (Model.CategoryId != 0)
        {
            <a href="/@(Model.PageNumber - 1)?CategoryId=@(Model.CategoryId)">Prev Page</a>
        }
        else
        {
            <a href="/@(Model.PageNumber - 1)">Prev Page</a>
        }
    }
    <span>@Model.PageNumber</span>
    @if ((int)Model.ViewData["lastPageNumber"]! != Model.PageNumber)
    {
        if (Model.CategoryId != 0)
        {
            <a href="/@(Model.PageNumber + 1)?CategoryId=@(Model.CategoryId)">Next Page</a>
        }
        else
        {
            <a href="/@(Model.PageNumber + 1)">Next Page</a>
        }
    }
</div>