@page "{pageNumber:int=1}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<aside>
    <a asp-page="/Index">All</a>
    @foreach (var category in Model.Categories)
    {
        <a asp-page="/Index"
           asp-route-pageNumber="1"
           asp-route-category="@category.Id">
            @category.Name
        </a>
    }
</aside>

<div class="products">
    @foreach (var prod in Model.Products)
    {
        <div class="products__product">
            <img class="product__photo" src="~/photos/pexels-irina-varanovich-14686152.jpg" alt="Product image"/>
            <p class="product__name">@prod.Name</p>
            <p>@prod.Description</p>
            <p>@prod.Price</p>
            <a asp-page="/Cart/Add" asp-route-productId="@prod.Id">Add to cart</a>
        </div>
    }
</div>
<div class="products__pagination">
    @if (Model.PageNumber != 1)
    {
        <a asp-page="/Index"
           asp-route-pageNumber="@(Model.PageNumber - 1)"
           asp-route-category="@Model.CategoryId">
            Prev Page
        </a>
    }
    <span>@Model.PageNumber</span>
    @if ((int)Model.ViewData["lastPageNumber"]! != Model.PageNumber)
    {
        <a asp-page="/Index"
           asp-route-pageNumber="@(Model.PageNumber + 1)"
           asp-route-category="@Model.CategoryId">
            Prev Page
        </a>
    }
</div>