@page "{handler?}"
@model CraftHouse.Web.Pages.Account.IndexModel

@{
    ViewData["title"] = "My account";
    ViewData["styles"] = "form";
}

@foreach (var error in Model.Errors)
{
    <p class="error">@error</p>
}

<h1>@Model.UserData.FirstName @Model.UserData.LastName account</h1>

<form class="form form--red" method="post" asp-page-handler="password">
    <h2>Change password</h2>
    <label for="currentPassword">Current password</label>
    <input class="form--red" type="password" id="currentPassword" asp-for="UpdatePassword.OldPassword"/>
    <label for="newPassword">New password</label>
    <input class="form--red" type="password" id="newPassword" asp-for="UpdatePassword.Password"/>
    <label for="repeatPassword">Repeat new password</label>
    <input class="form--red" type="password" id="repeatPassword" asp-for="UpdatePassword.Password2"/>
    <input class="button button--red form--red" type="submit" value="Change password"/>
</form>

<table>
    <thead>
    <th>ID</th>
    <th>Price</th>
    <th>Status</th>
    <th>Order date</th>
    <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var order in @Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Value</td>
                <td>@order.OrderStatus</td>
                <td>@order.CreatedAt</td>
                <td>
                    <a asp-page="/OrderDetails" asp-route-orderId="@order.Id">Show details</a>
                </td>
            </tr>
        }
    </tbody>
</table>