@page
@model CraftHouse.Web.Pages.Cart.Index

<h1>Cart</h1>

@foreach (var entry in Model.CartEntries)
{
    <p>@entry.Name</p>
    <p>@entry.Price</p>
    @foreach (var opt in entry.Options)
    {
        <p>@opt.Name</p>
        @foreach (var value in opt.Values)
        {
            <p>@value.Name - @value.Price</p>
        }
    }
}